body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  /*Para evitar el movimiento de las letras*/
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400px;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    /* 
          animation-delay: 3s;
          animation-iteration-count: 3;
           */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 7rem;
    letter-spacing: 1.75rem;

    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $color-primary-intermediate-blue,
    $color-primary-dark-blue
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);
  }
}

.heading-tertiary {
  background-image: linear-gradient(
    to right,
    $color-primary-intermediate-blue,
    $color-primary-dark-blue
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  &__name {
    text-align: center;
  }
}

.heading-tertiary-name {
  background-image: linear-gradient(
    to right,
    $color-primary-intermediate-blue,
    $color-primary-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
  margin-left: 25%;
}

.heading-tertiary-hobbies {
  background-image: linear-gradient(
    to right,
    $color-primary-intermediate-blue,
    $color-primary-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  font-size: $default-font-size;
  margin-bottom: 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.paragraph_important {
  font-size: $default-font-size;
  margin-bottom: 2rem;
  color: red;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
