@mixin clearfix {
  &::after {
    content: ''; //para que aparezca en la pantalla, mandatory
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px Phone
600 900 Tablet portrait
900 1200 Tablet Landscape
1200 1800  is where our normal styles apply
1800 +  Big desktop

*/

/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

// ORDER: Base + typography > general layout + grid > page layout > components
