$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #0062bd;

$color-quartery-light: #4bb9d6;
$color-quartery-dark: #2998ff;

$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-white: #ffffff;
$color-black: #000;

$box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

// Cakes project
$color-primary-light-pink: #de81b9;
$color-primary-dark-pink: #f564bb;

// my_profile_app
$color-primary-light-blue: #a6ecff;
$color-primary-intermediate-blue: #4bb9d6;
$color-primary-dark-blue: #00b9eb;

//Education
$color-primary-red: #e66767;
$color-primary-intermediate-red: #d43d3d;
$color-primary-dark-red: #850d0d;

//home
$color-grey-light: #e7e7e7;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
