@charset "UTF-8";
/*
0 - 600px Phone
600 900 Tablet portrait
900 1200 Tablet Landscape
1200 1800  is where our normal styles apply
1800 +  Big desktop

*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*invisible*/
    transform: translateX(-10rem); }
  /* 80% {
          transform: translateX(20px);
      } */
  100% {
    opacity: 1;
    transform: translate(0);
    /*Como luce normalmente*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /*invisible*/
    transform: translateX(10rem); }
  /* 80% {
          transform: translateX(20px);
      } */
  100% {
    opacity: 1;
    transform: translate(0);
    /*Como luce normalmente*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /*invisible*/
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*Como luce normalmente*/ } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%;
      padding: 0 4px; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*Para evitar el movimiento de las letras*/
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400px;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* 
          animation-delay: 3s;
          animation-iteration-count: 3;
           */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 7rem;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #4bb9d6, #00b9eb);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  background-image: linear-gradient(to right, #4bb9d6, #00b9eb);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary__name {
    text-align: center; }

.heading-tertiary-name {
  background-image: linear-gradient(to right, #4bb9d6, #00b9eb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
  margin-left: 25%; }

.heading-tertiary-hobbies {
  background-image: linear-gradient(to right, #4bb9d6, #00b9eb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.paragraph_important {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: red; }
  .paragraph_important:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-small-hobbies {
  margin-bottom: 2.2rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.btn {
  /*Cuando se clickea*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px black;
    /* 0 (eje y, direccion) 10px shadow, blur,  color  */ }
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem black; }
  .btn--white {
    background-color: #ffffff;
    color: #777; }
    .btn--white::after {
      background-color: #ffffff; }
  .btn--green {
    background-color: #28b485;
    color: #ffffff; }
    .btn--green::after {
      background-color: #28b485; }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    /*position entre el de delante y el de atraz*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /*duplica el tamaño*/
    opacity: 0; }
  .btn-animated {
    animation: moveInBottom 0.5s ease-out;
    transition-delay: 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #00b9eb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00b9eb;
  padding: px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #00b9eb;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 37.5em) {
        .composition__photo--p1 {
          display: none; } }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          display: none; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p4 {
      left: 20%;
      top: 10rem; }
    .composition__photo--p3 {
      left: 0;
      top: 20rem; }
    .composition__photo:hover {
      outline: 1rem solid #4bb9d6;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.profile-picture {
  position: relative; }
  .profile-picture__picture {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 122px; }
    .profile-picture__picture--p1 {
      left: 0;
      top: -2rem;
      margin-left: 25%; }
    .profile-picture__picture:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media (max-width: 37.5em) {
    .feature-box {
      margin: 0 25px; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #e66767, #850d0d); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #0062bd); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #e66767, #850d0d), url(../css/img/ortlogo.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #2998ff, #0062bd), url(../css/img/unit.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #0062bd), url(../css/img/fcea.jpg); }
  .card__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(230, 103, 103, 0.85), rgba(133, 13, 13, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 98, 189, 0.85), rgba(0, 98, 189, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50rem;
    background-color: #ffffff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(166, 236, 255, 0.8), rgba(0, 185, 235, 0.8)), url(../css/img/computerdevImage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* relative porque es el padre de donde va a ser colocado el logo-box */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*para centrar luego el boton*/ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 105px;
    margin-left: 150px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 7rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #e7e7e7;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .footer__navigation {
        margin: 0 25px; } }
  .footer_text {
    border-top: 1px solid #e7e7e7;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .footer_text {
        margin: 0 25px; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
    @media (max-width: 37.5em) {
      .footer__item {
        margin: 0 25px; } }
  .footer__link:link, .footer__link:visited {
    color: #e7e7e7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
    padding: 5px;
    margin-bottom: 15px; }
  .footer__link:hover, .footer__link:active {
    color: #4bb9d6;
    box-shadow: 0 1rem 2rem rbga(#000, 0.4);
    transform: rotate(5deg) scale(1.3); }

.education_course__link {
  color: #00b9eb; }
  .education_course__link:link, .education_course__link:visited {
    color: #00b9eb;
    background-color: #e7e7e7;
    text-decoration: none;
    display: inline-block; }

.section-about {
  background-color: #e7e7e7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-about_thisPage {
  background-color: #e7e7e7;
  padding: 25rem 0 10rem 0;
  margin-top: -30vh; }
  @media (max-width: 37.5em) {
    .section-about_thisPage {
      margin-top: -50vh; } }

.section-contactme {
  margin-top: -20vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 185, 235, 0.3), #0062bd);
  background-size: cover;
  transform: skewY(0deg);
  margin-top: 0; }

.section-education {
  background-color: #e7e7e7;
  padding: 25rem 0 15rem 0;
  margin-top: -30vh; }
  @media (max-width: 37.5em) {
    .section-education {
      margin-top: -50vh; } }

.section-experience {
  background-color: #e7e7e7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 37.5em) {
    .section-experience {
      margin-top: -30vh; } }

.section-features-separator-experience {
  margin-top: 20vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(75, 185, 214, 0.8), rgba(0, 185, 235, 0.8)), url(../css/img/experience.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 15.5rem; }
  .section-features-separator-experience > * {
    transform: skewY(7deg); }
  @media (max-width: 37.5em) {
    .section-features-separator-experience {
      padding: 15rem 0;
      margin-top: 0; } }

.section-features-separator-education {
  margin-top: 20vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(75, 185, 214, 0.8), rgba(0, 185, 235, 0.8)), url(../css/img/education.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 15.5rem; }
  .section-features-separator-education > * {
    transform: skewY(7deg); }
  @media (max-width: 37.5em) {
    .section-features-separator-education {
      padding: 15rem 0;
      margin-top: 0.1; } }

.section-features-separator-aboutpage {
  margin-top: 20vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(75, 185, 214, 0.8), rgba(0, 185, 235, 0.8)), url(../css/img/code-banner.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 15.5rem; }
  .section-features-separator-aboutpage > * {
    transform: skewY(7deg); }
