.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(phone) {
        display: none;
      }

      @include respond(tab-port) {
        display: none;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p4 {
      left: 20%;
      top: 10rem;
    }

    &--p3 {
      left: 0;
      top: 20rem;
    }

    &:hover {
      outline: 1rem solid $color-primary-intermediate-blue;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
  //composition:hover composition__photo:not(:hover) {
}

.profile-picture {
  position: relative;

  &__picture {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 122px;
    //position: absolute;

    &--p1 {
      left: 0;
      top: -2rem;
      margin-left: 25%;
    }

    &:hover {
      //outline: 1rem solid $color-primary-intermediate-blue;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
}
