.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transform: all 0.3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        @include absoluteCenter;
        width: 75%;
        height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    }
}
